/* Global */
body {
    margin: 0;
    text-align: center;
    background: green;
    color: white;
    font-size: 16px;
    font-family: $font-text;
    line-height: 1.7;
}
.contanier {
display: -ms-flexbox;
display: flex;
}


